<div class="container-fluid">
    <div class="row">
        <div class="col-12 g-0">
            <div class="video-container">
                <video [muted]="true" src="../assets/beer-banner-video.mp4" class="banner-video" autoplay loop></video>
            </div>
        </div>
    </div>
</div>

<div class="content-divider"></div>


<div class="container-fluid">
    <div class="row">
        <div class="col-12 g-0">
            <div class="offer-banner py-4 px-5">
                <h2 class="offer-text text-center">FAVOURITE SUMMER SEASON FLAVOURS</h2>
            </div>
        </div>
    </div>
</div>

<div class="content-divider"></div>


<div class="carousel-container" >
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
    <div class="carousel-inner">
      
        <div class="carousel-item active">
            <div class="carousel-wrap">
                <div class="carousel-card rounded-5 d-flex align-items-center">
                    <div class="row g-0 carousel-card-contents">
                        <div class="col-5 text-center product-img-container">
                            <img src="../assets/summersover.png" alt="" class="product-img rounded-start-5">
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="product-details px-5">
                                <h2 class="product-title">Sample Title</h2>
                                <p>This is a sample paragraph This is a sample paragraph This is a sample paragraph This is a sample paragraph
                                    This is a sample paragraph This is a sample paragraph This is a sample paragraph This is a sample paragraph
                                    This is a sample paragraph This is a sample paragraph This is a sample paragraph This is a sample paragraph
                                </p>
                                <a href="" class="btn btn-success rounded-4 px-3 py-2 mt-4">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="content-divider"></div>
<div class="content-divider"></div>



<div class="as-seen-on">
    <h2 class="page-title text-center">AS SEEN ON</h2>
</div>

<div class="content-divider"></div>


<div class="container">
    <div class="row">
        <div class="col-lg-4 col-6 col-md-6 d-flex justify-content-center align-items-center mb-5">
            <img src="../assets/globalnews.png" class="trust-logo" alt="">
        </div>
        <div class="col-lg-4 col-6 col-md-6 d-flex justify-content-center align-items-center mb-5">
            <img src="../assets/cnn.png" class="trust-logo" alt="">
        </div>
        <div class="col-lg-4 col-6 col-md-6 d-flex justify-content-center align-items-center mb-5">
            <img src="../assets/bcl.png" class="trust-logo" alt="">
        </div>
        <div class="col-lg-4 col-6 col-md-6 d-flex justify-content-center align-items-center mb-5">
            <img src="../assets/globalnews.png" class="trust-logo" alt="">
        </div>
        <div class="col-lg-4 col-6 col-md-6 d-flex justify-content-center align-items-center mb-5">
            <img src="../assets/cnn.png" class="trust-logo" alt="">
        </div>
        <div class="col-lg-4 col-6 col-md-6 d-flex justify-content-center align-items-center mb-5">
            <img src="../assets/bcl.png" class="trust-logo" alt="">
        </div>
</div>

<div class="content-divider"></div>


</div>
